.container{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:30px;
    box-sizing: border-box;
}
.maincontainer{
    height: 100%;
    min-height: 90vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.btn {
    margin:auto;
}