.container{
    display: flex;
    flex-direction: column;
    gap:8px;
   
}
.container label{
    font-weight: 700;
    font-size: 1rem;
    color: black;
}
.container input{
    border-radius: 5px;
    border: 1px solid white;
    outline:none;
    padding: 10px 15px;
    color: #000;
}
.container input:hover{
    border-color: grey;
}
.container input:focus{
    border-color: black;
}